.body {
    background-color: #7392b7;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.subtitulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}